@tailwind base;
@tailwind components;
@tailwind utilities;

/* .main-menu-wrapper::before{
  content: '';
  width:700px;
  position: absolute;
  right: 500px;
  background-color: #00091D;
} */

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	background-color: #e7e7e7;
	@apply text-gray-700;
}

a,
a:hover {
	@apply outline-none;
}

.menu-item {
	@apply text-center text-white relative w-full m-0 block md:w-auto align-middle md:inline-block px-4 py-6 md:h-full border-b-2 md:border-solid border-transparent hover:border-white transition-all ease-in-out duration-300;
}

.section {
	@apply overflow-hidden;
}

.container {
	@apply px-5 lg:p-0 max-w-6xl 2xl:max-w-7xl mx-auto overflow-hidden;
}

.title {
	@apply text-2xl text-primary-450 font-sans block mt-8;
}

.subtitle {
	@apply text-gray-500 text-base mb-8 block border-b-2 border-solid border-yellow-500 inline-block;
}

.btn {
	@apply bg-primary-450 w-auto text-white px-4 py-2 hover:bg-opacity-90;
}

.hero-img {
	@apply bg-bottom bg-origin-border bg-no-repeat bg-cover block 2xl:pt-24 overflow-hidden;
}

.page-hero-img {
	@apply bg-right bg-cover bg-fixed md:bg-center bg-origin-border bg-no-repeat block 2xl:pt-24 overflow-hidden h-28 md:h-48 min-h-0;
	background-position: 0 -350px;
}

.page-hero-img > .page-heading {
	@apply mt-7 md:mt-20 h-28 md:h-48 overflow-hidden;
}

@media screen and (min-width: 786px) {
	.hero-img {
		min-height: calc(100vh - 45px);
	}
	.hero-text {
		height: calc(100vh - 160px);
	}
}

@media screen and (min-width: 1536px) {
	.hero-text {
		height: calc(100vh - 260px);
	}
	.page-hero-img {
		background-position: 0 -350px;
	}
}

/* @media screen and (min-width: 1280px) {
	.hero-text {
		height: calc(100vh - 160px);
	}
} */

.lds-dual-ring {
	/* display: inline-block; */
	width: 80px;
	height: 80px;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border-width: 6px;
	border-color: #a80 transparent #a80 transparent;
	animation: lds-dual-ring 2s linear infinite;
	@apply border-solid;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
